*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Montserrat', sans-serif;
}
html,body{
	height: 100%;
}
header{
	padding: 20px 2%;
	width: 100%;
}
.clear{
	clear: both;
}
.center{
	width: 100%;
	margin: 0 auto;
	max-width: 1400px;

}
/* *********************** HEADER DO SITE*********************** */
header .logo img{
	float: left;
	width: 236px;
}
header > nav.menu-desktop{
	float: right;
}
header nav.menu-mobile{
	display: none;
}
header > nav.menu-desktop ul{
	margin: 10px;
	list-style-type: none;
}
header > nav.menu-desktop ul li{
	float: left;
	padding: 0 20px;
	font-size: 14px;
}
header > nav.menu-desktop ul li a{
	text-decoration: none;
	color: black;
}
/* *********************** HEADER DO SITE*********************** */

/* *********************** MOSAICO *********************** */

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}
.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-color: gray;
	border: 5px solid white;
}
/* *********************** MOSAICO *********************** */

/* *********************** SERVIÇOS *********************** */

section.servicos .center{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -50px;
	text-align: center;
}
section.servicos h2{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
}
section.servicos p{
	color: white;
	margin-top: 8px;
	font-weight: normal;
	font-size: 13px;
}
.box-servico img{
	margin-top: 20px;
}
section.servicos > .center .box-servico:nth-of-type(1){
	width: 30%;
	padding: 25px 0px 0px 0px;
	background-color: #586777;
}
section.servicos > .center .box-servico:nth-of-type(2){
	width: 40%;
	padding: 45px 0px;
	background-color: #698193;
}
section.servicos > .center .box-servico:nth-of-type(3){
	width: 30%;
	padding: 25px 0px 0px 0px;
	background-color: #586777;
}
/* *********************** SERVIÇOS *********************** */

/* *********************** PERFIL *********************** */
section.perfil > .center{
	max-width: 900px;
	display: flex;
	align-items: flex-start;
}
.foto-perfil{
	width: 40%;
}
.foto-perfil img{
	width: 100%;
}
aside{
	padding: 20px 50px;
	width: 60%;
}
aside h2{
	color: #698293;
	font-size: 18px;
}
aside p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top: 10px;
}

/* *********************** PERFIL *********************** */

/* *********************** RESPONSIVO *********************** */

@media screen and (max-width:780px){
	section.perfil > .center{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.foto-perfil{
		width: 45%;
	}
	.foto-perfil img{
		width: 100%;
	}
	aside{
		margin-top: 0px;
		padding: 0px 50px;
		width: 100%;
	}
	section.servicos .center{
flex-direction: column;
	}
	section.servicos > .center .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 364px;
		padding: 25px 2%;
		background-color: #586777;
	}
	section.servicos > .center .box-servico:nth-of-type(2){
		width: 90%;
		max-width: 384px;
		padding: 45px 2%;
		background-color: #698193;
	}
	section.servicos > .center .box-servico:nth-of-type(3){
		width: 90%;
		max-width: 364px;
		padding: 25px 2%;
		background-color: #586777;
	}
}
@media screen and (max-width:825px){
	header nav.menu-desktop{
		display: none;
	}
	header nav.menu-mobile{
		display: block;
		float: right;
	}
	header .logo img{
		float: left;
		width: 200px;
	}

}
/* *********************** RESPONSIVO *********************** */