*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Montserrat', sans-serif;
}
html,body{
	height: 100%;
}
header{
	padding: 20px 2%;
	width: 100%;
}
.clear{
	clear: both;
}
.center{
	width: 100%;
	margin: 0 auto;
	max-width: 1400px;

}
/* *********************** HEADER DO SITE*********************** */
header .logo img{
	float: left;
	width: 236px;
}
header nav.menu-desktop{
	float: right;
}
header nav.menu-mobile{
	z-index: 999;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background-image: url(../imagens/menu-mobile.png);
	background-size: 100% 100%;
}
header nav.menu-mobile ul{
	display: none;
	background-color: white;
	position: absolute;
	top: 65px;
	left: 0;
	text-align: center;
	width: 100%;
}
header nav.menu-mobile li:hover{
	border: 1px solid black;
	transition: 5s;
	box-shadow: 1px 1px 5px 1px black;
}
header nav.menu-mobile ul li{
	padding: 10px;
	list-style-type: none;
	text-transform: uppercase;
}
header nav.menu-mobile a{
	text-decoration: none;
	color: #4b4b4b;
	font-weight: 600 ;	
}
header nav.menu-desktop ul{
	margin: 10px;
	list-style-type: none;
}
header nav.menu-desktop ul li{
	float: left;
	padding: 0 20px;
	font-size: 14px;
}
header nav.menu-desktop ul li a{
	text-decoration: none;
	color: black;
}
/* *********************** HEADER DO SITE*********************** */

/* *********************** MOSAICO *********************** */

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}
.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-color: gray;
	border: 5px solid white;
}
/* *********************** MOSAICO *********************** */

/* *********************** SERVIÇOS *********************** */

section.servicos .center{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -50px;
	text-align: center;
}
section.servicos h2{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
}
section.servicos p{
	color: white;
	margin-top: 8px;
	font-weight: normal;
	font-size: 13px;
}
.box-servico img{
	margin-top: 20px;
}
section.servicos > .center .box-servico:nth-of-type(1){
	width: 30%;
	padding: 25px 0px 0px 0px;
	background-color: #586777;
}
section.servicos > .center .box-servico:nth-of-type(2){
	width: 40%;
	padding: 45px 0px;
	background-color: #698193;
}
section.servicos > .center .box-servico:nth-of-type(3){
	width: 30%;
	padding: 25px 0px 0px 0px;
	background-color: #586777;
}
/* *********************** SERVIÇOS *********************** */

/* *********************** PERFIL *********************** */
section.perfil > .center{
	max-width: 900px;
	display: flex;
	align-items: flex-start;
}
.foto-perfil{
	width: 40%;
}
.foto-perfil img{
	width: 100%;
}
aside{
	padding: 20px 50px;
	width: 60%;
}
aside h2{
	color: #698293;
	font-size: 18px;
}
aside p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top: 10px;
}

/* *********************** PERFIL *********************** */

/* *********************** VIDEO *********************** */
section.videos{
	padding: 50px 0;
}
section.videos .box-video{
	position: relative;
	float: left;
	width: 33.3%;
	padding-top: calc(33.3% * 0.6);
	border: 5px solid white;
}
section.videos iframe{
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
}
/* *********************** VIDEO *********************** */

/* *********************** TRATAMENTO *********************** */
.tratamento-container{
	width: 100%;
}
section.tratamentos > .center{
	background-color: #F9F7F9;
}
.tratamentos > h2{
	text-align: center;
	color:#6A7386;
	margin-bottom: 50px;
}
.tratamento-single{
	padding: 20px 2%;
	width: 33.3%;
	float: left;
}
.tratamento-container h2{
	font-size: 18px;
	color: #737373;
}
.tratamento-container p{
	font-size: 13px;
	color: #646464;
	padding: 10px 0;
}
/* *********************** TRATAMENTO *********************** */

/* *********************** DEPOIMENTOS *********************** */
section.depoimentos h2{
	text-align: center;
	color:#6A7386;
	margin: 50px;
	font-size: 18px;
}
.depoimento-single{
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}
.nome-depoimento{
	margin-top: 20px;
	text-align: center;
}
.nome-depoimento span{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
/* *********************** DEPOIMENTOS *********************** */

/* *********************** INSTAGRAM *********************** */
.inst{
	background-color: #98A4AD;
	text-align: center;
	padding: 20px;
	color: white;
}
.fotinhas-single{
	padding-top: 100%;
}
.fotinhas{
	width: calc(100% / 9);
	background-color: gray;
	float: left;
	border: 5px solid white;
}
.facebook{
	background-color: #57677B;
	text-align: center;
	padding: 25px;
	color: white;
}
/* *********************** INSTAGRAM *********************** */

/* *********************** FORMULARIO *********************** */
.formulario{
	padding: 60px 0;
}
.formulario h2{
	text-align: center;
	color:#6A7386;
	font-size: 18px;
}
.formulario form{
	margin: 30px auto;
	max-width: 500px;
	width: 100%;
}
.form-wraper span{
	font: 13px;
	color: #b4b4b4;
}
.form-wraper input{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-bottom: 8px;
}
.form-wraper{
	padding: 0 10px;
}
.w50{
	width: 50%;
	float: left;
}
textarea{
	width: 100%;
	padding: 15px ;
	height: 121px;
	resize: none;
}
/* *********************** FORMULARIO *********************** */

/* *********************** RESPONSIVO *********************** */
@media screen and (max-width:1024px){
	.fotinhas{
		width: calc(100% / 6);
	}
	.fotos-instagram div:nth-of-type(1n+7){
		display: none;
	}
}

@media screen and (max-width:825px){
	header nav.menu-desktop{
		display: none;
	}
	header nav.menu-mobile{
		float: right;
	}
	header .logo img{
		float: left;
		width: 200px;
	}
	section.videos{
		text-align: center;
	}
	section.videos .box-video{
		display: inline-block;
		float: none;
		width: 70%;
		padding-top: calc(100% * 0.6);
		border: 5px solid white;
	}
	section.videos iframe{
		position: absolute;
		top: 0;
		left: 0%;
		width: 100%;
		height: 100%;
	}
}


@media screen and (max-width:580px){
	section.perfil > .center{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.foto-perfil{
		width: 45%;
	}
	.foto-perfil img{
		width: 100%;
	}
	aside{
		margin-top: 0px;
		padding: 0px 50px;
		width: 100%;
	}
	section.servicos .center{
	flex-direction: column;
	}

	section.servicos > .center .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 364px;
		padding: 25px 2%;
		background-color: #586777;
	}
	section.servicos > .center .box-servico:nth-of-type(2){
		width: 90%;
		max-width: 384px;
		padding: 45px 2%;
		background-color: #698193;
	}
	section.servicos > .center .box-servico:nth-of-type(3){
		width: 90%;
		max-width: 364px;
		padding: 25px 2%;
		background-color: #586777;
	}
	section.videos .box-video{
		display: inline-block;
		float: none;
		width: 100%;
		padding-top: calc(100% * 0.6);
		border: none;
	}
	.fotinhas{
		width: calc(100% / 3);
	}
	.fotos-instagram div:nth-of-type(1n+4){
		display: none;
	}
	.facebook{
		margin-top: 20px;
}

/* *********************** RESPONSIVO *********************** */